@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /* Colors */
  --text-color-primary: #fff;
  --text-color-secundary: #ffa500;
  --black: #333;
  --red: #ff1a40;

  /* Typhografy */
  --f-family: "Montserrat", sans-serif;
  --f-family-sec: "Roboto", sans-serif;
  --f-weight-400: 400;
  --f-weight-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--f-family-sec);
  font-weight: var(--f-weight-600);
  font-size: 2rem;
  color: var(--text-color-secundary);
  letter-spacing: 3px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  min-width: 320px;
  position: relative;
  font-family: var(--f-family);
  font-weight: var(--f-weight-400);
  color: var(--text-color-primary);
  background-color: var(--black);
}

header {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
}

.mobile {
  display: none;
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  background-color: #333333b9;
}

#nav {
  display: none;
}

.btn-action {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.btn-closse {
  margin-left: 70%;
  padding: 20px 20px 100px 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #5c5c5c;
  z-index: 999999;
}

.mobile-nav ul li {
  padding: 20px 0;
}

a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.networks ul li {
  max-width: 60px;
}

/* Main styles */

section {
  margin-bottom: 160px;
}

.hero__img img {
  max-width: 500px;
}

.hero h1 {
  font-size: max(4vw, 2.5rem);
  color: var(--text-color-secundary);
}

.hero .study {
  font-size: max(1.8vw, 1.3rem);
}

.text-color {
  color: var(--text-color-secundary);
}

.networks img {
  cursor: pointer;
}

.skills h3 {
  font-family: var(--f-family-sec);
  font-weight: var(--f-weight-400);
  letter-spacing: 2px;
  margin-bottom: 60px;
}

.skills ul {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 120px));
  justify-content: center;
  gap: 45px;
}

.avatar img {
  width: 150px;
  height: 150px;
}

.about p {
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7;
}

.about p span {
  font-weight: var(--f-weight-600);
  text-decoration: underline;
}

/* Footer styles */

.contact {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}

.contact__form {
  max-width: 450px;
  width: 100%;
}

form {
  padding: 10px 20px;
}

textarea {
  resize: none;
}

button[type="submit"] {
  max-width: 300px;
  font-weight: var(--f-weight-600);
  color: var(--text-color-primary);
  background-color: var(--text-color-secundary);
}

button:hover {
  opacity: 0.7;
}

.author {
  margin: 150px 0 10px 0;
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    justify-content: center;
  }
  .mobile-menu {
    display: none;
  }

  .btn-menu {
    display: none;
  }

  #nav {
    display: flex;
    justify-content: center;
  }
}
